html, body, #root, #root>div {
  height: 100%;
}

main {
  padding-top: 3.3em;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -17em;
}

.jumbotron {
  .btn {
    padding: 0 25px;
    margin:0 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.list-group-item.schemadef-list-entry {
  display: block;
  width: 100%;
  padding: 0;
  border-radius: 0;

  h5 {
    margin-top: 8px;
  }

  .list-group-item-text {
    margin-bottom: 10px;

    .field {
      display: flex;
      margin: .5em 2em;

      p {
        margin: 0 .5em 0 0;
      }

      &:last-child {
        margin-bottom: 1.3em;
      }
    }
  }

  small {
    .btn {
      height: 100%;
      border: 0;
      border-radius: 0;
    }
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.schemadef-list-entry-footer {
  border-top: 1px solid lightgrey;
  display: inline-flex;
  width: 100%;
  margin: 0 auto;
  padding: 0;

  .btn {
    width: 20%;
    margin:0 auto;
    border: 0;
    border-radius: 0;

    &.reaction {
      span {
        margin-right: 10px;
      }
    }

    &:first-child {
      border-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }
}

.reaction {
  &.voted {
    background-color: rgba(155, 155, 155, 0.2);
  }
}

.footer, .push {
  height: 15em;
}

.footer {
    padding: 4rem 0;
    margin-top: 4rem;
    font-size: 85%;
    text-align: center;
    background-color: #f7f7f7;
}
