# Logs
logs
*.log
npm-debug.log*

# Compiled Source
dist

# Dependency directories
node_modules

# Ignore eslint Cache
.eslintcache

# Apple Finder
.DS_Store


# Visual Studio Code
.vscode

.idea/workspace.xml
.idea
